/* src/index.css or src/index.scss */
@import "~bootstrap/dist/css/bootstrap.css";

.export-icons{
    font-size: 18px;
}
:root{
    --bs-blue: #008BA4;
    --bs-indigo: #6610f2;
    --bs-purple: #B74CD1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #00A380;
    --bs-teal: #00ABC9;
    --bs-cyan: #0dcaf0;
    --bs-white: #FFF;
    --bs-gray-light: #E2E5E6;
    --bs-gray: #737B7D;
    --bs-gray-dark: #333;
    --bs-primary: #00A380;
    --bs-secondary: #737B7D;
    --bs-success: #00A380;
    --bs-info: #00ABC9;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #F3F3F5;
    --bs-moderate: #a5a5a5;
    --bs-dark: #333;


}

.heading {
    font-size: 35px;
    font-weight: bold;
    color: var(--bs-dark);
    font-family: 'AR One Sans', sans-serif;
    cursor: pointer;
    transition: 0.2s ease;
    text-transform: capitalize;
}
.paragraph{

    font-size: 12px;
  
    color: var(--bs-gray);
    font-family: 'AR One Sans', sans-serif;
    cursor: pointer;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    
   

.card_contain-heading-desc p{
    font-size: 10px;
    
}
.heading h3 {
    font-size: 22px;
   
}
.heading h1 {
    font-size: 22px;
   
}
.paragraph p{
    font-size: 10px;
}

}